*{
    margin: 0;
    padding: 0;
}

body{
    /* background-color: aquamarine; */
    /* box-sizing: border-box; */
}


/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 100px;
    border-radius: 5px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 5px;
    overflow: hidden;

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(44, 1, 1); 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


.content{
/* background-color: black; */
z-index: 10000;
width: 100%;
height:100vh;
color: #fff;
}
h2{
    color: red;
}

.sidebar {
    width: 320px;
    height: 100vh;
    background-color: antiquewhite;
    margin-top: 60px;
    position: fixed;
    
}
.sidebar-menu{
    overflow-y: auto;
    max-height: 750px; 
    background-color: blue;
    color: #fff;
    padding: 10px 10px;
    text-align: justify;
    letter-spacing: 0;
}

.topmenu{
    background-color: blue;
    width: 100%;
    height: 60px;
    position: fixed;

}
